@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --before-color: rgb(209, 177, 205);
  --after-color: rgb(163, 0, 146);
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: white;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: inherit;
  max-width: 100%;
  width: 500px;
}

.progress-container::before {
  background: var(--before-color);
  content: '';
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
}

.progress {
  background: var(--after-color);
  position: absolute;
  width: 0%;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
  transition: 0.3s ease;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--before-color);
  background-color: white;
  border: 3px solid var(--before-color);
  transition: 0.5s ease-in-out;
}

.circle.active {
  border-color: var(--after-color);
  color: var(--after-color);
}

.btn {
  background-color: var(--after-color);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 10px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background: var(--before-color);
  cursor: not-allowed;
}

/* Start - Dark mode */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider.round:before {
  border-radius: 50%;
}

.blacked {
  --before-color: rgb(27, 27, 27);
  --after-color: rgb(163, 163, 163);
  background-color: black;
}

.dark-mode {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End Dark mode */
