@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --default-color: rgb(59, 59, 59);
  --light-mode: white;
  --before-color: rgb(209, 177, 205);
  --after-color: rgb(163, 0, 146);
}
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--light-mode);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg {
  background: url('https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg')
    no-repeat center center/cover;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  filter: blur(50px);
}

.loading-text {
  z-index: 100;
  color: var(--light-mode);
  font-size: 36px;
}
